/*************************************************************************SECTION 5************************************************************************************/
#Contact {
    position: relative;
    height: 700px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.ContactMainBox {
    padding-top: 50px;
    width: 330px;
    height: 400px;
    border: 2px solid;
    border-radius: 25px;
    box-shadow: 3px 3px 5px black, -3px -3px 5px black;
}

#Contact>p {
    position: absolute;
    bottom: 15px;
}

.ContactContents {
    text-align: center;
    height: 80px;
}

.ContactBoxGroup {
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.ContactBox1,
.ContactBox2 {
    color: black;
    width: 220px;
    min-height: 23px;
    display: flex;
    align-items: center;
    border-radius: 15px;
    background-color:  black;
    border: 3px solid white;
    box-shadow: 2px 2px 2px black;
    opacity: 1;
}

.ContactBox1,
.ContactBox2 {
    gap: 20px;
    padding-left: 30px;
}


.ContactDetails {
    user-select: text;
}
.ContactIcon{
    height: 60px;
    width: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.ContactIconGroup {
    margin-top: 5px;
    width: 220px;
    height: 100%;
    display: flex;
    justify-content: center;
    gap: 30px;
}

.ContactIcon i {
    font-size: 23px;
    filter: drop-shadow(2px 2px 2px black);
    background-color: green;
    height: 34px;
    width: 34px;
    display:flex;
    justify-content: center;
    align-items: center;
    border-radius: 7px;
    border: 2px solid white;
    color: white;
    background-color: black;
}

.ContactIcon i:hover {
    color:blue;
    border-color: blue;
    transform: translateY(-6px);
    transition: 0.3s;
}

.ContactBox1,.ContactBox2,.ContactIcon{
    overflow: hidden;
}
.contactItem{
    visibility: hidden;
    text-decoration: none;
}



.circles{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.circles li{
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: rgba(255, 255, 255, 0.2);
    animation: animate2 25s linear infinite;
    bottom: -150px;
    
}

.circles li:nth-child(1){
    left: 25%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
}


.circles li:nth-child(2){
    left: 10%;
    width: 20px;
    height: 20px;
    animation-delay: 2s;
    animation-duration: 12s;
}

.circles li:nth-child(3){
    left: 70%;
    width: 20px;
    height: 20px;
    animation-delay: 4s;
}

.circles li:nth-child(4){
    left: 40%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 18s;
}

.circles li:nth-child(5){
    left: 65%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
}

.circles li:nth-child(6){
    left: 15%;
    width: 110px;
    height: 110px;
    animation-delay: 5s;
}

.circles li:nth-child(7){
    left: 35%;
    width: 150px;
    height: 150px;
    animation-delay: 7s;
}

.circles li:nth-child(8){
    left: 70%;
    width: 55px;
    height: 55px;
    animation-delay: 15s;
    animation-duration: 45s;
}

.circles li:nth-child(9){
    left: 20%;
    width: 15px;
    height: 15px;
    animation-delay: 2s;
    animation-duration: 35s;
}

.circles li:nth-child(10){
    left: 85%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 11s;
}



@keyframes animate2 {

    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }
    70%{
        opacity: 0;
        border-radius: 50%;
    }

    100%{
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }

}