/***********************************************************************************SECTION 1***************************************************************************/
#profile {
    position: relative;
    display: flex;
    gap: 5mm;
    justify-content: center;
    align-items: center;
    height: 695px;
    overflow: hidden;
}

.myPhoto {
    height: 170px;
    width: 170px;
}
.box{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 190px;
    height: 190px;
    background: #111845a6;
    box-sizing: border-box;
    overflow: hidden;
    box-shadow: 0 20px 50px rgb(23, 32, 90);
    border: 2px solid #2a3cad;
    color: white;
  }
  
  .box:before{
    content: '';
    position:absolute;
    top:0;
    left:-100%;
    width:100%;
    height:100%;
    transition:0.5s;
    pointer-events: none;
  }
  .box span{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
    box-sizing: border-box;
    
  }
  
  .box span:nth-child(1)
  {
    transform:rotate(0deg);
  }
  
  .box span:nth-child(2)
  {
    transform:rotate(90deg);
  }
  
  .box span:nth-child(3)
  {
    transform:rotate(180deg);
  }
  
  .box span:nth-child(4)
  {
    transform:rotate(270deg);
  }
  
  .box span:before
  {
    content: '';
    position: absolute;
    width:100%;
    height: 2px;
    background: #50dfdb;
    animation: animate 4s linear infinite;
  }

  
  @keyframes animate {
    0% {
    transform:scaleX(0);
    transform-origin: left;
    }
    50%
    {
      transform:scaleX(1);
    transform-origin: left;
    }
    50.1%
    {
      transform:scaleX(1);
    transform-origin: right;
      
    }
    
    100%
    {
      transform:scaleX(0);
    transform-origin: right;
      
    }
} 


.myName h2 {
    text-align: center;
    filter: drop-shadow(2px 2px 2px black);
    font-size: 28px;
}

.profileContent {
    display: flex;
    flex-direction: column;
    font-family: system-ui, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.Button1Group{
    gap: 5px;
}
.Button1 {
    border: 3px solid black;
    box-shadow: 0 0 5px rgb(43, 43, 3);
    width: 40mm;
    font-size: 14.5px;
    background-color: rgb(104, 147, 204);
    color: black;
    border-radius: 20px;
    font-family: "Kode Mono", monospace;
    font-weight: 900;
    height: 40px;
}
.Button1 i{
    color: black;
}

.Button1:hover{
    color: white;
    border-color: white;
    transition: 0.5s;
}
.Button1:hover i{
    color: white;
    border-color: white;
    transition: 0.5s;
}
.LinkedinGithub {
    margin-top: 10px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.GithubIcon , .LinkedinIcon {
    border: 2px solid black;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    text-decoration: none;
    background-color:  rgb(104, 147, 204);
    box-shadow: 0 0 5px rgb(43, 43, 3);
}
.GithubIcon .fa-brands, .LinkedinIcon .fa-brands{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: larger;
    height: 100%;
    width: 100%;
    color: black;
}
.GithubIcon .fa-brands:hover, .LinkedinIcon .fa-brands:hover{
    color: white;
    transition: 0.5s;
}
.GithubIcon:hover , .LinkedinIcon:hover{
    border-color: white;
    background-color:  rgb(104, 147, 204);
    transition: 0.5s;
}

.homeItem, .Button1, .LinkedinIcon, .GithubIcon{
    visibility: hidden;
}