
@media (max-width:950px) {
    .HeaderObjGroup {
        width: 10cm;
        gap: 20px;
    }

    .EducationBox1,
    .EducationBox2,
    .EducationBox3 {
        font-size: medium;
    }
}

@media (max-width:800px) {
    #About p {
        font-size: medium;
    }
}

@media (max-width:700px) {
    .EducationBox{
        font-size: small;
    }

    .Button1Group {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width:600px) {
    .HeaderObjGroup {
        display: none;
    }


    .Return {
        display: block;
        background-color: rgb(17, 18, 97);
        height: 40px;
        width: 40px;
        border-radius: 50%;
        border: 2px solid black;
        position: fixed;
        bottom: 25px;
        right: 25px;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 10;
        box-shadow: 2px 2px 2px black;
        animation: ToTheTop 5s infinite;
        user-select: none;
    }

    @keyframes ToTheTop {
        50% {
            transform: translateY(-7px);
        }

        100% {
            transform: translateY(0px);
        }
    }
}

@media (max-width:550px) {
    .EducationBox{
        width: 90%;
    }

    #About p {
        font-size: small;
    }

    .skillIcon {
        height: 50px;
        width: 50px;
    }

}

@media (max-width:500px) {
    .EducationBox{
        width: 85%;
    }
    .EducationBox{
        font-size: 12px;
    }
    #About p {
        font-size: 12px;
    }

    .SkillsContainer1,.SkillsContainer2{
        gap: 40px;
        padding-left: 20px;
        padding-right: 20px;
    }
}
@media (max-width:450px) {
    .EducationBox{
        font-size: 10px;
    }
    #profile{
        gap: 5px;
    }
}
@media (max-width:400px) {

}

@media (max-width:350px) {
    #About p {
        font-size: x-small;
    }

    .myPhoto {
        display: none;
    }

    .ContactMainBox {
        width: 200px;
    }

    .ContactBox1,
    .ContactBox2 {
        width: 150px;
        font-size: x-small;
    }

}